@import "../../assets/scss/variables.scss";

.cart-menu {
  position: absolute;
  width: 20.3125rem;
  background-color: $c-white;
  z-index: 50;
  display: flex;
  flex-direction: column;
  padding: 6px 1.25rem 20px;
  box-shadow: 0 0.25rem 0.25rem rgba($color: #000, $alpha: 0.25);

  right: 0;
  top: calc($navbar-height - 0.2rem);
  @include sm {
    right: -1rem;
    top: calc($navbar-height + 0.8rem);
  }
}

.cart-menu__title {
  font-weight: 700;
  font-size: 1rem;

  span {
    font-weight: 500;
  }
}

.cart-menu__cart-items-container {
  display: flex;
  flex-direction: column;

  .cart-items-container__items {
    @include custom-scrollbar;
    margin-top: 1.5rem;
    max-height: 20.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .cart-items__total {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1rem;

    &:first-child {
      font-weight: 500;
    }
  }
}

.cart-menu__no-items {
  margin-top: 1.5rem;
  text-align: center;
  color: #888;
}

.cart-menu__buttons {
  margin-top: 2.1875rem;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  a {
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    line-height: 1rem;
    padding: 0.75rem;
    font-weight: 600;
    font-size: 0.875rem;
    background-color: $c-primary;
    border: 1px solid $c-primary;
    color: $c-white;
    @include transition;

    &:hover {
      border-color: $c-black;
      background-color: transparent;
      color: $c-text;
    }
  }
}
