// =================
// === VARIABLES ===

$c-primary: #5ece7b;
$c-black: #1d1f22;
$c-white: #fff;
$c-text: #1d1f22;

$transition: all 400ms ease;
$filter-to-c-primary: invert(100%) sepia(22%) saturate(4973%) hue-rotate(46deg)
  brightness(88%) contrast(87%);

// =====================
// === MEDIA QUERIES ===
$sm-width: 640px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1280px;
$xx-width: 1440px;

@mixin sm {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md-width}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl-width}) {
    @content;
  }
}

@mixin xx {
  @media (min-width: #{$xx-width}) {
    @content;
  }
}

@mixin transition {
  transition: $transition;
  @media (prefers-reduced-motion) {
    transition: none;
  }
}

// =====================
// === OTHER MIXINs ===
@mixin app-width {
  margin: 0 auto 1rem;
  width: 93.8vw;
  max-width: 75.5rem;
}

@mixin custom-scrollbar {
  $width: 0.1rem;
  $color: #aaa;
  $background: transparent;

  scrollbar-color: $color;
  scrollbar-width: $width;
  overflow-x: none;
  overflow-y: auto;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: $background;
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
  }
}

$navbar-padding-top: 1.75rem;
$navbar-height: 3rem;

@include md {
  $navbar-height: 3.5rem;
}

@mixin custom-button {
  padding: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  background-color: $c-primary;
  border: 1px solid $c-primary;
  color: $c-white;
  cursor: pointer;
  @include transition;

  &:hover {
    border-color: $c-black;
    background-color: transparent;
    color: $c-text;
  }
}
