@import "../../variables.scss";

header {
  margin-top: 1.5rem;
  height: 3.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  align-items: center;
  position: relative;

  nav {
    float: left;
    height: 100%;
    display: flex;
    flex-direction: row;

    a {
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      padding: 0.25rem 1rem 0;
      height: 100%;
      cursor: pointer;
      color: $c-text;
      border-bottom: 2px solid $c-white;
      @include transition;

      &:hover {
        color: $c-primary;
      }

      &.active {
        color: $c-primary;
        font-weight: 600;
        border-color: $c-primary;
      }
    }
  }

  .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menus {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;

    .currency-icon {
      height: 100%;
      padding-right: 0.75rem;
      display: flex;
      align-items: center;
      gap: 0.625rem;
      cursor: pointer;
      user-select: none;
      @include transition;

      span {
        font-weight: 500;
        font-size: 1.125rem;
      }

      &:hover {
        filter: $filter-to-c-primary;
      }

      svg {
        @include transition;
      }

      &.active {
        filter: $filter-to-c-primary;
        svg {
          transform: rotate(180deg);
        }
      }
    }

    .cart-icon {
      padding-left: 0.75rem;
      cursor: pointer;

      .cart-icon__inner {
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;

        svg {
          align-self: center;
          @include transition;
        }
      }

      .cart-icon__label {
        position: absolute;
        width: 1.25rem;
        height: 1.25rem;
        text-align: center;
        align-self: center;
        transform: translate(13px, -8px);
        padding-top: 0.3rem;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 0.5rem;
        border-radius: 100%;
        background-color: $c-black;
        color: $c-white;
        @include transition;
      }

      &:hover,
      &.active {
        svg {
          filter: $filter-to-c-primary;
        }
        .cart-icon__label {
          color: white;
          background-color: $c-primary;
        }
      }
    }
  }
}
