@import "../../assets/scss/variables.scss";

.category-item {
  background-color: $c-white;
  color: $c-black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1rem;
  position: relative;
  overflow: visible;
  filter: drop-shadow(0px 4px 35px rgba($color: #a8acac, $alpha: 0));
  @include transition;

  .image-container {
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: calc((55 / 59) * 100%);
      width: 100%;
    }

    .image {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      overflow: hidden;
    }
  }

  .footer {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: space-between;
  }

  .name {
    font-size: 1.125rem;
    font-weight: 300;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: " . . . ";
    white-space: nowrap;
  }

  .price {
    font-weight: 500;
  }

  .cart-icon {
    display: none;
    height: 3.25rem;
    position: absolute;
    right: 1rem;
    bottom: 0;
    transform: translateY(50%);
    width: 3.25rem;
    @include transition;

    &:hover {
      opacity: 0.5;
    }
  }

  .out-of-stock-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    z-index: 10;

    span {
      font-size: 1.5rem;
      font-weight: 400;
      opacity: 0.5;
      @include transition;
    }
  }

  .out-of-stock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #fff, $alpha: 0.5);
  }

  &:hover {
    filter: drop-shadow(0px 4px 35px rgba($color: #a8acac, $alpha: 0.3));

    .cart-icon {
      display: block;
    }

    .out-of-stock-label > span {
      opacity: 0.8;
    }
  }
}
