@import "../../variables.scss";

header {
  .currency-menu {
    position: absolute;
    right: 4.875rem;
    top: 4rem;
    width: 7.125rem;
    background-color: $c-white;
    box-shadow: 0 0.25rem 0.25rem rgba($color: #000, $alpha: 0.25);
    margin: 0.65rem 0;
    display: flex;
    flex-direction: column;

    .item {
      padding: 0.65rem 1.25rem;
      transition: $transition;
      font-weight: 500;
      font-size: 1.125rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: $c-primary;
      }

      &.active {
        color: $c-primary;

        &:hover {
          color: $c-white;
        }
      }
    }
  }
}
